.forecast{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}
.forecastItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}